<!-- Admin scope -->

<div class="p-grid center-horizontal" *ngIf="this.authService.getScope() !== 'student'">
    <div class="p-col-8">
        <p-tabView>
            <p-tabPanel header="Create form" [disabled]="!isAdmin">
                <div class="p-grid">
                    <div class="p-col-6">
                        <label class="margin-right">Start time</label>
                        <p-calendar [(ngModel)]="start" showTime="true" hourFormat="24"></p-calendar>
                    </div>
                    <div class="p-col-6">
                        <label class="margin-right">End time</label>
                        <p-calendar [(ngModel)]="end" showTime="true" hourFormat="24"></p-calendar>
                    </div>
                    <div class="p-col-4 p-offset-2">
                        <label class="margin-right">Number of electives</label>
                        <input id="courseCode" type="number" pInputText [(ngModel)]="numElectives" min="1" />
                    </div>
                    <div class="p-col-4">
                        <label class="margin-right">Should select all</label>
                        <p-dropdown
                            [options]="option"
                            [(ngModel)]="shouldSelectAll"
                            optionValue="value"
                            optionLabel="name"
                        ></p-dropdown>
                    </div>
                    <div class="p-col-6 p-offset-3">
                        <label class="margin-right">Select electives</label>
                        <p-autoComplete
                            [(ngModel)]="selectedElective"
                            [suggestions]="suggestedElectives"
                            (completeMethod)="search($event)"
                            field="name"
                            [dropdown]="true"
                        >
                            <ng-template let-elective pTemplate="item">
                                {{ elective.name }}, {{ elective.courseCode }}, {{ elective.version }}
                            </ng-template>
                        </p-autoComplete>
                        <p-dropdown [options]="['Name', 'Course code']" [(ngModel)]="searchBy"></p-dropdown>
                        <button
                            pButton
                            type="button"
                            class="p-button-raised margin-left"
                            label="Add"
                            icon="pi pi-plus"
                            (click)="addElective()"
                        ></button>
                    </div>
                    <div class="p-col-8 p-offset-2">
                        <p-card>
                            <p-chip
                                *ngFor="let elective of selectedElectives"
                                class="p-mr-2"
                                label="{{ elective.name }}, {{ elective.courseCode }}, {{ elective.version }}"
                                [removable]="true"
                            ></p-chip>
                        </p-card>
                    </div>
                    <div class="p-col-2 p-offset-5">
                        <button
                            pButton
                            label="Create form"
                            type="button"
                            (click)="createForm()"
                            style="width: 100%"
                        ></button>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Active forms" [selected]="true">
                <h3 *ngIf="!!!activeForms.length">No active forms!</h3>
                <div class="p-grid" *ngFor="let item of activeForms; let i = index">
                    <div class="p-col-10">
                        <p-card class="item" header="Electives form {{ i + 1 }}" [routerLink]="['/fill-form', this.activeForms[i].id]">
                            To be filled by {{ item.end }}
                            <br />
                            <br />
                            <span>Electives: {{ item.electives.length }}</span>
                            <br />
                            <br />
                            <span>Should select: {{ item.shouldSelect }}</span>
                        </p-card>
                    </div>
                    <div class="p-col-2 center-vertical">
                        <div class="p-grid p-nogutter center-vertical">
                            <div class="p-col-12 p-col-nogutter">
                                <button
                                    pButton
                                    label="View responses"
                                    type="button"
                                    (click)="viewResponses(item)"
                                    style="width: 100%"
                                    class="margin p-button p-button-secondary"
                                ></button>
                            </div>
                            <div class="p-col-12 p-col-nogutter" *ngIf="!isAdmin">
                                <button
                                    pButton
                                    label="Generate list"
                                    type="button"
                                    (click)="generateList(item)"
                                    style="width: 100%"
                                    class="margin p-button p-button-secondary"
                                ></button>
                            </div>
                            <div class="p-col-12 p-col-nogutter">
                                <button
                                    pButton
                                    label="Rearrange users"
                                    type="button"
                                    (click)="editExplicit(item)"
                                    style="width: 100%"
                                    class="margin p-button p-button-secondary"
                                ></button>
                            </div>
                            <div class="p-col-12 p-col-nogutter">
                                <button
                                    pButton
                                    label="Elective vacancy"
                                    type="button"
                                    (click)="viewVacancy(item)"
                                    style="width: 100%"
                                    class="margin p-button p-button-secondary"
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Forms" [disabled]="!isAdmin">
                <p-table
                    [value]="forms"
                    [lazy]="true"
                    [paginator]="true"
                    [rows]="25"
                    [totalRecords]="totalRecords"
                    [loading]="loading"
                    (onLazyLoad)="setPageForms($event)"
                    dataKey="id"
                    styleClass="p-datatable-gridlines"
                >
                    <ng-template pTemplate="header">
                        <th>Start</th>
                        <th>End</th>
                        <th>State</th>
                    </ng-template>
                    <ng-template pTemplate="body" let-form>
                        <tr>
                            <td>{{ form.start }}</td>
                            <td>{{ form.end }}</td>
                            <td>{{ form.active ? 'Active' : 'Inactive' }}</td>
                            <td>
                                <button
                                    pButton
                                    icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2 p-button-icon-only"
                                    (click)="editForm(form)"
                                ></button>
                                <button
                                    pButton
                                    icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger p-mr-2 p-button-icon-only"
                                    (click)="deleteForm(form)"
                                ></button>
                                <button
                                    pButton
                                    icon="pi pi-file-excel"
                                    class="p-button-rounded p-button-info p-mr-2 p-button-icon-only"
                                    (click)="generateList(form)"
                                ></button>
                                <button
                                    pButton
                                    [icon]="form.active ? 'pi pi-ban' : 'pi pi-check'"
                                    class="p-button-rounded p-mr-2 p-button-icon-only"
                                    [ngClass]="{ 'p-button-warning': form.active, 'p-button-success': !form.active }"
                                    (click)="swapForm(form)"
                                ></button>
                                <button
                                    pButton
                                    icon="pi pi-plus"
                                    class="p-button-rounded p-mr-2 p-button-info p-button-icon-only"
                                    (click)="createClasses(form)"
                                ></button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>

<!-- Edit form dialog -->

<p-dialog [(visible)]="editDialog" [style]="{ width: '650px' }" header="Edit form" [modal]="true" styleClass="p-fluid">
    <div class="p-grid">
        <div class="p-col-12">
            <label class="margin-right">Start time</label>
            <p-calendar [(ngModel)]="currentForm.start" showTime="true" hourFormat="24"></p-calendar>
        </div>
        <div class="p-col-12">
            <label class="margin-right">End time</label>
            <p-calendar [(ngModel)]="currentForm.end" showTime="true" hourFormat="24"></p-calendar>
        </div>
        <div class="p-col-6">
            <label class="margin-right">Number of electives</label>
            <input type="number" pInputText [(ngModel)]="currentForm.shouldSelect" min="1" />
        </div>
        <div class="p-col-6">
            <label class="margin-right">Should select all</label>
            <p-dropdown
                [options]="option"
                [(ngModel)]="selectAllAtForm"
                optionLabel="name"
                optionValue="value"
            ></p-dropdown>
        </div>
        <div class="p-col-8">
            <label>Select electives</label>
            <p-autoComplete
                [(ngModel)]="selectedElective"
                [suggestions]="suggestedElectives"
                (completeMethod)="search($event)"
                field="name"
                [dropdown]="true"
                class="p-d-inline"
            >
                <ng-template let-elective pTemplate="item">
                    {{ elective.name }}, {{ elective.courseCode }}, {{ elective.version }}
                </ng-template>
            </p-autoComplete>
            <p-dropdown [options]="['Name', 'Course code']" [(ngModel)]="searchBy"></p-dropdown>
        </div>
        <div class="p-col-4 center-vertical">
            <button
                pButton
                type="button"
                class="p-button-raised"
                label="Add"
                icon="pi pi-plus"
                (click)="addElectiveToCurrentForm()"
            ></button>
        </div>
        <div class="p-col-12">
            <p-card>
                <p-chip
                    *ngFor="let elective of currentForm.electives"
                    class="margin-sides"
                    label="{{ elective.name }}, {{ elective.courseCode }}, {{ elective.version }}"
                    [removable]="true"
                ></p-chip>
            </p-card>
        </div>
        <div class="p-col-4 p-offset-4">
            <button pButton type="button" class="p-button-raised" label="Update" (click)="update()"></button>
        </div>
    </div>
</p-dialog>

<!-- View responses dialog -->

<p-dialog
    [(visible)]="responsesDialog"
    [style]="{ width: '950px' }"
    header="Form responses"
    [modal]="true"
    styleClass="p-fluid"
>
    <p-table
        [value]="responses"
        [lazy]="true"
        [paginator]="true"
        [rows]="25"
        [totalRecords]="totalRecords"
        [loading]="loading"
        (onLazyLoad)="setPageResponses($event)"
        dataKey="id"
        styleClass="p-datatable-gridlines"
    >
        <ng-template pTemplate="header">
            <th>User</th>
            <th>Time</th>
            <th>N° selections</th>
        </ng-template>
        <ng-template pTemplate="body" let-response>
            <tr>
                <td>{{ response.user.rollNo }}</td>
                <td>{{ response.time }}</td>
                <td>{{ response.responses.length }}</td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>

<!-- Assign users dialog -->

<p-dialog [(visible)]="explicitDialog" [style]="{ width: '950px' }" header="Rearrange users" [modal]="true" [responsive]="true" [maximizable]="true">
    <div class="p-grid center-horizontal" *ngIf="loadingExplicit">
        <div class="col-12 center-horizontal">
            <p-progressSpinner
                [style]="{ width: '50px', height: '50px' }"
                styleClass="custom-spinner"
                strokeWidth="8"
                fill="#EEEEEE"
                animationDuration=".5s"
                class="margin-vertical"
            ></p-progressSpinner>
        </div>
    </div>
    <div *ngIf="!loadingExplicit">
        <p-table [value]="rawList" dataKey="id" styleClass="p-datatable-gridlines" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
                <th>User</th>
                <th>Set explicit</th>
                <th>Electives</th>
            </ng-template>
            <ng-template pTemplate="body" let-item let-rowIndex="rowIndex">
                <tr>
                    <td>{{ item.user.rollNo }}</td>
                    <td>
                        <p-checkbox [(ngModel)]="explicitCheckbox[rowIndex]" [binary]="true"></p-checkbox>
                    </td>
                    <td>
                        <p-multiSelect [options]="electiveOptions" [(ngModel)]="item.electives"
                                       defaultLabel="Select electives" optionValue="id" optionLabel="name"
                                       selectedItemsLabel="{0} items selected" [disabled]="!explicitCheckbox[rowIndex]"></p-multiSelect>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="p-grid center-horizontal">
            <div class="p-col-12 center-horizontal">
                <button
                    pButton
                    type="button"
                    class="p-button p-button-raised margin"
                    label="Confirm"
                    (click)="setupNewExplicitItems()"
                ></button>
            </div>
        </div>
    </div>
</p-dialog>

<!-- View vacancy dialog -->

<p-dialog [(visible)]="vacancyDialog" [style]="{ width: '950px' }" header="Elective vancancy" [modal]="true">
    <div>
        <div class="p-grid center-horizontal" *ngIf="loadingExplicit">
            <div class="col-12 center-horizontal">
                <p-progressSpinner
                    [style]="{ width: '50px', height: '50px' }"
                    styleClass="custom-spinner"
                    strokeWidth="8"
                    fill="#EEEEEE"
                    animationDuration=".5s"
                    class="margin-vertical"
                ></p-progressSpinner>
            </div>
        </div>
        <div *ngIf="!loadingExplicit">
            <p-table [value]="vacancy" dataKey="id" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="header">
                    <th>Elective</th>
                    <th>Vacant slots</th>
                    <th>Maximum strength</th>
                </ng-template>
                <ng-template pTemplate="body" let-item>
                    <tr>
                        <td>{{ item.elective.name }}, {{ item.elective.version }}</td>
                        <td>{{ item.vacancy }}</td>
                        <td>{{ item.elective.strength }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</p-dialog>

<!-- Student scope -->

<div class="p-grid center-horizontal" *ngIf="this.authService.getScope() === 'student'">
    <div class="p-col-8">
        <p-card
            class="item"
            *ngFor="let item of activeForms; let i = index"
            header="Electives form {{ i + 1 }}"
            [routerLink]="['/fill-form', activeForms[i].id]"
        >
            To be filled by {{ item.end }}
        </p-card>
        <h3 *ngIf="!!!activeForms.length">No active forms!</h3>
    </div>
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
