@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
html,
body {
    margin: 0;
    height: 100% !important;
    font-family: 'Roboto', sans-serif;
}
.center-vertical {
    display: flex;
    align-items: center;
}
.center-horizontal {
    display: flex;
    justify-content: center;
}
.center-middle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.center-middle-important {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
.full-height {
    height: 100%;
}
.possible-full-height {
    max-height: 100%;
    overflow: visible;
}
.full-width {
    width: 100%;
}
.margin {
    margin: 1em !important;
}
.p-menubar {
    margin: 0 !important;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.margin-right {
    margin-right: 1em !important;
}
.margin-left {
    margin-left: 1em !important;
}
.margin-sides {
    margin-left: 1em !important;
    margin-right: 1em !important;
}
.margin-vertical {
    margin-top: 1em !important;
    margin-bottom: 1em !important;
}
